---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lava's Blog</title>
  </head>
  <body>
    <div class="prose md:prose-lg px-8 py-12 mx-auto">
      <slot />

      <footer class="py-12 text-center text-sm text-gray-400">
        © 2024 Canglong Dai. All rights reserved.
      </footer>
    </div>
  </body>
  <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</html>
