---
import BaseLayout from "./BaseLayout.astro";
const links = [
  { url: "/blogs", title: "文章" },
  { url: "/projects", title: "项目" },
  { url: "/about", title: "关于" },
];
---

<BaseLayout>
  <header>
    <nav class="text-center">
      <a class="no-underline border-y-transparent border-y-2 hover:border-b-black text-center" href="/"><h1>Lava's Blog</h1></a>
      <div class="inline-flex flex-row justify-center space-x-5 pb-5 text-xl">
        {
          links.map((link: { url: string; title: string }) => {
            return (
              <a href={link.url} class="no-underline border-y-transparent border-y-2 hover:border-b-black font-bold">
                {link.title}
              </a>
            );
          })
        }
      </div>
    </nav>
  </header>
  <slot />
</BaseLayout>
