---
const { title, pubDate } = Astro.props.frontmatter;
import ContentLayout from "./ContentLayout.astro";
---

<!-- IMPROVE: add title to correct <head> instead of <body> -->
<ContentLayout>
  <h1>{title}</h1>
  <div class="text-gray-400 text-sm">{pubDate}</div>
  <slot />
</ContentLayout>
